{#
  ./templates/categories/show.html.twig
  Variables disponibles:
    - tags(id, nom, slug,  )
#}
{% extends 'base.html.twig' %}

  {% block title %}
    {{ attribute(tag, 'nom' ~ app.request.locale) }}
  {% endblock %}

{% block content1 %}
<!-- Page Title -->
<div class="section section-breadcrumbs">
<div class="container">
<div class="row">
  <div class="col-md-12">
    <h1>Tag  Details</h1>
  </div>
</div>
</div>
</div>


<div class="section">
<div class="container">
  <div class="row">
{# Liste des creatures par tag #}
{% include 'works/workByTag.html.twig' with {works: tag.works} %}
</div>
</div>
</div>

{% endblock %}
