{#
  ./templates/partials/FbNews.html.twig
#}

<div class="col-sm-6 latest-news">
  <h2>Lastest FaceBook/Twitter News</h2>
  <div class="row">
    <div class="col-sm-12">
      <a class="twitter-timeline" data-height="450" data-cards="hidden" href="https://twitter.com/thenextweb?ref_src=twsrc%5Etfw">Tweets by thenextweb</a>
    </div>
  </div>
</div>
